* {
  font-family: INGme, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../assets/images/luxa.org-brightness-background.jpg");
  background-size: cover;
  background-repeat: repeat;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100%;
  background-color: rgb(0, 71, 245);
}


.input-group input {
  width: 100%;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-group .fa {
  position: absolute;
  left: 10px;
  top: 15px;
  color: black;
  z-index: 2;
}