* {
  font-family: INGme, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background-image: url("../assets/images/luxa.org-brightness-background.jpg");
  background-size: cover;
  background-repeat: repeat;
  color: white;
}

.container {
  background: linear-gradient(90deg, rgba(0, 71, 245, 1) 5%, rgba(0, 71, 245, 1) 56%, rgba(66, 191, 199, 1) 96%);
  border-radius: 10px;


}